<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon> 
        Atrás
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="header-logo ion-text-center">
    <div class="shield-icon-faded">
      <ion-icon name="shield-checkmark" color="medium"></ion-icon>
    </div>
    <h2>Olvidé mi contraseña</h2>
    <p class="top-right-link" (click)="cerrarModal()">Aceptar</p> 
  </div>

  <form [formGroup]="formularioRecuperacion" (ngSubmit)="enviarEnlace()">
    
    <div class="input-group">
      <label>Correo electrónico</label>
      <ion-item lines="none" class="custom-input" [ngClass]="{'error-border': correoInvalido}">
        <ion-input 
          formControlName="correoRecuperacion" 
          type="email" 
          placeholder="ejemplo@correo.com">
        </ion-input>
      </ion-item>
      
      <span class="error-msg" *ngIf="correoInvalido">
        <span *ngIf="correoControl?.errors?.['required']">El correo es requerido.</span>
        <span *ngIf="correoControl?.errors?.['email']">El correo es inválido.</span>
      </span>
    </div>

    <ion-button 
      expand="block" 
      type="submit" 
      class="btn-primary ion-margin-top" 
      [disabled]="formularioRecuperacion.invalid">
      Enviar enlace
    </ion-button>

  </form>
</ion-content>