// Estilo general para la página
ion-content {
  --background: #f7f7f7;
}

.header-section {
  padding: 20px 0;
}

.large-icon {
  font-size: 6rem;
}


ion-item.error-border {

  border: 2px solid red;
  border-radius: 8px; 

  --border-color: red !important;
  --highlight-color-invalid: red;
  --highlight-color-focused: red;
}

.error-message {
  color: red;
  font-size: 0.85em;
  padding-left: 16px; 
  margin-top: -10px; 
  margin-bottom: 20px;
  text-align: left;
}

ion-item-round {
    --border-radius: 8px;
    --border-color: #ddd;
    --border-width: 1px;
    --padding-start: 10px;
    margin-bottom: 10px;
}

.register-button {
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    height: 48px;
    font-weight: bold;
}